{% extends 'base.html' %}

{% block title %}Каталог товаров{% endblock %}

{% block content %}
<div class="mb-4">
  <h4>Категории</h4>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link {% if not selected_category %}active{% endif %}" href="{% url 'product_list' %}">Все</a>
    </li>
    {% for cat in categories %}
    <li class="nav-item">
      <a class="nav-link {% if selected_category == cat.id %}active{% endif %}" href="?category={{ cat.id }}">
        {{ cat.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="row">
  {% for product in products %}
  <div class="col-md-4 mb-4">
    <div class="card product-card h-100">
      <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.price }} руб.</p>
        <a href="{% url 'cart:add_to_cart' product.id %}" class="btn btn-primary">В корзину</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}